{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": 3,
      "targets": {
        "browsers": [
          ">0.2%",
          "not dead",
          "not op_mini all"
        ]
      }
    }],
    "@babel/preset-react"
  ]
}
