body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cover-page-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-left: 12rem;
  margin-right: 12rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 0.3rem;
  font-family: 'Great Vibes', cursive; /* Apply the fancy font */
}

.photo_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.weather-position {
  position: absolute;
  top: 124%;
  right: 15%;
  opacity: 0.5;
}

.top-banner-image {
  height: 6.5rem;
  object-fit: cover;
  margin: 0.8rem;
}

.top-banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setCenterAlignment {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .noDisplay {
    display: none;
  }
  .setCenterAlignment {
    justify-content: center;
    padding-top: 2rem;
  }
  .top-banner-container {
    display: none;
  }
}

@media (max-width: 1500px) {
  .weather-position {
    right: 20%;
  }
}

@media (max-width: 1300px) {
  .weather-position {
    right: 25%;
  }
}

@media (max-width: 1024px) {
  .top-banner-image {
    height: 4.5rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(10px);
  }
  30% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

.dropdown-menu > li {
  display: inline-block;
}